.menu-item{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.menu-item:hover{
    text-decoration: underline;
    color: black;
}
.menu-btn{
  font-weight: 700;
}
.menu-btn:hover{
    background-color: black;
    color: white;
    border: none;
}
.details-header{
    border-radius: 50%;
    width: 50px;
}